#body_home_index {
    overflow: auto;
    height: auto;
}
html,
#body_home_index .carousel,
#body_home_index .carousel .carousel-inner,
#body_home_index .carousel .carousel-inner>.item,
#body_home_index .carousel .carousel-inner>.item>a>img, 
#body_home_index .carousel .carousel-inner>.item>img {
    height: auto;
}
.home_menu {
    display: none;
}
.home_menu_mobile {
    text-align: center;
    display: block;
    margin-top: 40px;
}
.home_menu_mobile img {
    display: block;
    width: 100%;
}
.home_menu_mobile li {
    display: block;
    list-style: none;
}
.carousel-caption {
    display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
}